<div id='email'>
  <div class="ss-form"> 
    <script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe"
    style="display:none;" onload="if(submitted)
    {window.location='http://www.westernbeefs.com';}"></iframe>
    <form action="https://docs.google.com/forms/d/18gjrRZy0DfOZWu2aHnI0P2pr5VX2R32UgWp3ezi6Rfw/formResponse"
    method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <ol role="list" class="ss-question-list" style="padding-left: 0">
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-text">
        <div class="ss-form-entry">
        <center><table><tr>
        <td><label class="ss-q-item-label" for="entry_902319194">
          <div class="ss-q-title">Subscribe</div>
        </td>
        <td><div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
        <input type="text" name="entry.902319194" value="" class="ss-q-short" id="entry_902319194"
        dir="auto" aria-label="Subscribe  " title="">
        <div class="error-message"></div></td></tr></table>
      </div>
    </div>
  </div>
  <input type="hidden" name="draftResponse" value="[,,&quot;7987297453740005688&quot;]">
  <input type="hidden" name="pageHistory" value="0">
  <input type="hidden" name="fbzx" value="7987297453740005688">
</div>