
<!DOCTYPE html>
<script>var __pbpa = true;</script><script>var translated_warning_string = 'Warning: Never enter your Tumblr password unless \u201chttps://www.tumblr.com/login\u201d\x0ais the address in your web browser.\x0a\x0aYou should also see a green \u201cTumblr, Inc.\u201d identification in the address bar.\x0a\x0aSpammers and other bad guys use fake forms to steal passwords.\x0a\x0aTumblr will never ask you to log in from a user\u2019s blog.\x0a\x0aAre you absolutely sure you want to continue?';</script><script type="text/javascript" language="javascript" src="http://assets.tumblr.com/assets/scripts/pre_tumblelog.js?_v=75ff60d174af47d7ea271d82d4fe1151"></script>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang='en'>



<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
    <title>Western Beefs of North America</title>
<style type="text/css">figure {margin: 0;}</style>
<link rel="shortcut icon" href="https://dl.dropboxusercontent.com/s/r17l5u38sp9mpal/wbicon.ico?dl=0" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Willis Plummer">
  <style type="text/css" media="screen, print, projection">

    a:link {
        text-decoration: none;
        color: black;
    }
    a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: red;       
        text-decoration: none;
    }
    a:active {
        color: red;
        text-decoration: none;
    }
    
    #body {
        margin:0;
        padding:0;
    }
    
    #html {
        margin:0;
        padding:0;
    }

    #wrap {
        width: 1000px;
        margin: 0 auto;
    }

    #header {
        padding:5px 10px;
        text-align: center;
    }

    #email {
        padding:5px 10px;
        text-align: center;
    }

   h1:hover{color:red;}

    h1 {
        margin: 0;
        font-size: 45px;
    }
    h2 {
        margin: 0;
    }

    #nav {
        padding: 0px 5px;
        text-align: center;

    }
    
    #content {
        line-height: 165%;
        width: 600px;
        margin-left: auto ;
        margin-right: auto ;
        padding:15px 0px 10px 0px;
        text-align: justify;
        text-justify:inter-word;
        font-family: Geneva, Tahoma, Verdana, sans-serif;
        font-size:14.5px;
    }


    #left {
        float: left;
        width: 500px;
        padding: 10px;
    }

    #right {
        float: right;
        width: 500px;
        padding: 10px;
    }

    #footer {
        text-align: center;
        clear: both;
    }

    *{
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    }

    iframe {display:none !important;} 
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43087035-3', 'westernbeefs.com');
  ga('send', 'pageview');

</script>
<link rel="alternate" href="android-app://com.tumblr/tumblr/x-callback-url/blog?blogName=westernbeefs" />
<script src="http://assets.tumblr.com/assets/scripts/tumblelog.js?_v=a4169182721d644dacd145af89115b95"></script>

<link rel="stylesheet" type="text/css" href="http://assets.tumblr.com/fonts/gibson/stylesheet.css?v=3">
<meta http-equiv="x-dns-prefetch-control" content="off"/>

<!-- BEGIN TUMBLR FACEBOOK OPENGRAPH TAGS --><!-- If you'd like to specify your own Open Graph tags, define the og:url and og:title tags in your theme's HTML. --><!-- Read more: http://ogp.me/ --><meta property="fb:app_id" content="48119224995" /><meta property="og:title" content="Western Beefs of North America" /><meta property="og:url" content="http://westernbeefs.com/?og=1" /><meta property="og:description" content="" /><meta property="og:type" content="tumblr-feed:tumblelog" /><meta property="og:image" content="http://38.media.tumblr.com/avatar_286c5b88d39c_128.png" /><meta property="al:ios:url" content="tumblr://x-callback-url/blog?blogName=westernbeefs" /><meta property="al:ios:app_name" content="Tumblr" /><meta property="al:ios:app_store_id" content="305343404" /><meta property="al:android:url" content="tumblr://x-callback-url/blog?blogName=westernbeefs" /><meta property="al:android:app_name" content="Tumblr" /><meta property="al:android:package" content="com.tumblr" /><!-- END TUMBLR FACEBOOK OPENGRAPH TAGS -->


<!-- TWITTER TAGS --><meta charset="utf-8"><meta name="twitter:site" content="tumblr" /><meta name="twitter:card" content="summary" /><meta name="twitter:title" content="westernbeefs" /><meta name="twitter:description" content=" " /><meta name="twitter:app:name:iphone" content="Tumblr" /><meta name="twitter:app:name:ipad" content="Tumblr" /><meta name="twitter:app:name:googleplay" content="Tumblr" /><meta name="twitter:app:id:iphone" content="305343404" /><meta name="twitter:app:id:ipad" content="305343404" /><meta name="twitter:app:id:googleplay" content="com.tumblr" /><meta name="twitter:app:url:iphone" content="tumblr://x-callback-url/blog?blogName=westernbeefs&amp;referrer=twitter-cards" /><meta name="twitter:app:url:ipad" content="tumblr://x-callback-url/blog?blogName=westernbeefs&amp;referrer=twitter-cards" /><meta name="twitter:app:url:googleplay" content="tumblr://x-callback-url/blog?blogName=westernbeefs&amp;referrer=twitter-cards" />

</head>



<body>

<div id='wrap'>
    <div id='header'>
       <h1><em><a href="/about">Western Beefs of North America</a></em></h1>
    </div>

<center><img src="https://dl.dropboxusercontent.com/s/4kd5v91x3i8vrfu/westernbeefscactus.jpg?dl=0"></center>

<div id ='content'><center>
  <% @articles.each do |article| %>
     <a href = /<%= article.slug %>> <%= strip_tags article.title %> by <%= article.author %></a>
     <br><br>
  <% end %>
</center></div>
<div id='email'>
<div class="ss-form"> <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='http://www.westernbeefs.com';}"></iframe>
<form action="https://docs.google.com/forms/d/18gjrRZy0DfOZWu2aHnI0P2pr5VX2R32UgWp3ezi6Rfw/formResponse" method="post"
target="hidden_iframe" onsubmit="submitted=true;">
 <ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<center><table><tr><td>
<label class="ss-q-item-label" for="entry_902319194"><div class="ss-q-title">Subscribe</div></td>
<td><div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.902319194" value="" class="ss-q-short" id="entry_902319194" dir="auto" aria-label="Subscribe  " title="">
<div class="error-message"></div></td></tr></table>

</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;7987297453740005688&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="7987297453740005688">
</div>
<!-- BEGIN TUMBLR CODE --><iframe scrolling="no" width="1" height="1" frameborder="0" style="background-color:transparent; overflow:hidden; position:absolute; top:0; left:0; z-index:9999;" id="ga_target"></iframe><script type="text/javascript">
    (function(){
        var analytics_frame = document.getElementById('ga_target');
        var analytics_iframe_loaded;
        var user_logged_in;
        var blog_is_nsfw = 'No';
        var addthis_enabled = false;

        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        eventer(messageEvent,function(e) {
            var message = (e.data && e.data.split) ? e.data.split(';') : '';
            switch (message[0]) {
                case 'analytics_iframe_loaded':
                    analytics_iframe_loaded = true;
                    postCSMessage();
                    postGAMessage();
                    postATMessage();
                    break;
                case 'user_logged_in':
                    user_logged_in = message[1];
                    postGAMessage();
                    postATMessage();
                    break;
            }
        }, false);

        analytics_frame.src = "https://secure.assets.tumblr.com/analytics.html?f65f173ecd0610e1ad2f9930f8476598#" + 
                              "http://westernbeefs.com";
        function postGAMessage() {
            if (analytics_iframe_loaded && user_logged_in) {
                var is_ajax = false;
                analytics_frame.contentWindow.postMessage(['tick_google_analytics', is_ajax, user_logged_in, blog_is_nsfw, '/?route=%2F'].join(';'), analytics_frame.src.split('/analytics.html')[0]);
            }
        }
        function postCSMessage() {
            COMSCORE = true;
            analytics_frame.contentWindow.postMessage('enable_comscore;' + window.location, analytics_frame.src.split('/analytics.html')[0]);
        }
        function postATMessage() {
            if (addthis_enabled && analytics_iframe_loaded) {
                analytics_frame.contentWindow.postMessage('enable_addthis', analytics_frame.src.split('/analytics.html')[0]);
            }
        }
    })();
</script><script type="text/javascript">!function(s){s.src='https://px.srvcs.tumblr.com/impixu?T=1433906740&J=eyJ0eXBlIjoidXJsIiwidXJsIjoiaHR0cDpcL1wvd2VzdGVybmJlZWZzLmNvbVwvIiwicmVxdHlwZSI6MCwicm91dGUiOiJcLyJ9&U=GBOBPJHFLF&K=416a2c3d9f051a73489ed8b1e574d8d2ac581d525536c09119e3c98a508aee25&R='.replace(/&R=[^&$]*/,'').concat('&R='+escape(document.referrer)).slice(0,2000).replace(/%.?.?$/,'');}(new Image());</script><noscript><img style="position:absolute;z-index:-3334;top:0px;left:0px;visibility:hidden;" src="https://px.srvcs.tumblr.com/impixu?T=1433906740&J=eyJ0eXBlIjoidXJsIiwidXJsIjoiaHR0cDpcL1wvd2VzdGVybmJlZWZzLmNvbVwvIiwicmVxdHlwZSI6MCwicm91dGUiOiJcLyIsIm5vc2NyaXB0IjoxfQ==&U=GBOBPJHFLF&K=0ec68edb042477843b1e475b56e8119df7752efe31180825c16ccec8b63f64be&R="></noscript><script>
        (function (w,d) {
            'use strict';
            var l = function(el, type, listener, useCapture) {
                el.addEventListener ?
                el.addEventListener(type, listener, !!useCapture) :
                el.attachEvent && el.attachEvent('on' + type, listener, !!useCapture);
            };
            var a = function () {
                                if (d.getElementById('tumblr-cdx')) {
                    return;
                }
                var s = d.createElement('script');
                var el = d.getElementsByTagName('script')[0];
                s.async = true;
                s.src = 'http://assets.tumblr.com/assets/scripts/vendor/cedexis/cedexis.radar.js?_v=52f4655fc08c33e92bbf84738fc9cc2c';
                s.type = 'text/javascript';
                s.id = 'tumblr-cdx';
                d.body.appendChild(s);
            };
            l(w,'load',a);
        }(window, document));
</script><script>
                    (function() {
                        var s = document.createElement('script');
                        var el = document.getElementsByTagName('script')[0];
                        s.src = ('https:' == document.location.protocol ? 'https://s' : 'http://l') + '.yimg.com/ss/rapid-3.18.1.js';
                        s.onload = function(){
                            var YAHOO = window.YAHOO;
                            if (YAHOO) {
                                var keys = {
                                    pd:'/',
                                    _li:0,
                                    b_id:181894857,
                                    i_rad:0,
                                    i_strm:0,
                                    test_id: 'OLD', // version bucket
                                    anon_id: ''
                                };
                                var conf = {
                                                                        spaceid:1197716038,
                                    client_only:1,
                                    yql_enabled:false,
                                    keys:keys,
                                    nol:1
                                };
                                YAHOO.rapid = new YAHOO.i13n.Rapid(conf);
                            }
                        };
                        el.parentNode.insertBefore(s, el);
                    })();
                </script><script>
        (function (w,d) {
            'use strict';
            var l = function(el, type, listener, useCapture) {
                el.addEventListener ?
                el.addEventListener(type, listener, !!useCapture) :
                el.attachEvent && el.attachEvent('on' + type, listener, !!useCapture);
            };
            var a = function () {
                                if (d.getElementById('tumblr-cdx')) {
                    return;
                }
                var s = d.createElement('script');
                var el = d.getElementsByTagName('script')[0];
                s.async = true;
                s.src = 'http://assets.tumblr.com/assets/scripts/vendor/cedexis/cedexis.radar.js?_v=52f4655fc08c33e92bbf84738fc9cc2c';
                s.type = 'text/javascript';
                s.id = 'tumblr-cdx';
                d.body.appendChild(s);
            };
            l(w,'load',a);
        }(window, document));
</script><iframe id="tumblr_controls" class="tumblr_controls" width="1" height="1" frameborder="0" scrolling="no" src="https://secure.assets.tumblr.com/assets/html/iframe/o.html?_v=94a1c12c347bd23eb801dc09d87cefd0#src=http%3A%2F%2Fwesternbeefs.com%2F&amp;lang=en_US&amp;name=westernbeefs&amp;brag=false&amp;avatar=http%3A%2F%2F31.media.tumblr.com%2Favatar_286c5b88d39c_64.png&amp;title=Western+Beefs+of+North+America&amp;url=http%3A%2F%2Fwesternbeefs.com%2F&amp;page_slide=slide"></iframe>
<div id="teaser_iframe_container" style="display:none;"><iframe scrolling="no" frameborder="0" src="http://assets.tumblr.com/assets/html/iframe/teaser.html?_v=ebe29782704cb65e11c1d7dc3c1b6f0c#src=http%3A%2F%2Fwesternbeefs.com%2F&amp;lang=en_US&amp;name=westernbeefs&amp;brag=false&amp;avatar=http%3A%2F%2F31.media.tumblr.com%2Favatar_286c5b88d39c_64.png&amp;title=Western+Beefs+of+North+America&amp;url=http%3A%2F%2Fwesternbeefs.com%2F&amp;page_slide=slide" id="teaser_iframe" width="1" height="1"></iframe></div><script type="text/javascript">
    (function(Tumblr){
        var follow_iframe_initialized = false;
        if (Tumblr.FollowTeaser && Tumblr.PostMessageListener) {
            // Don't do anything until the first initialize event
            Tumblr.PostMessageListener.initialize(function(message, origin) {
                if (follow_iframe_initialized || message.length < 2) return;

                if (message[0] === 'follow_iframe' && message[1] === 'enable') {
                    Tumblr.FollowTeaser.current_page = 1;
                    Tumblr.FollowTeaser.infer_infinite_scroll = true;
                    Tumblr.FollowTeaser.create_from_tumblr_controls("http:\/\/assets.tumblr.com\/assets\/html\/iframe\/follow.html?_v=b2497930de8c1a4bc01163e7acbd1bf8");
                    Tumblr.FollowTeaser.scroll_listener(true);
                    follow_iframe_initialized = true;
                }
            });
        }
    })(this.Tumblr || (this.Tumblr = {}));
</script><!--[if IE]><script type="text/javascript">document.getElementById('tumblr_controls').allowTransparency=true;</script><![endif]--><!-- END TUMBLR CODE -->

</body>

</html>