<footer class="site-footer">
  <div id="nav">
    <a href=/<%= page_prev(@page) %>><</a><%= @page.page_number if @article.has_index? %><a href=/<%= page_next(@page) %>>></a>
  </div>
</footer>
</html>
