<footer class="site-footer">
  <div id="nav">
    <a href=/<%= @article.author %>/<%= @page.page_number %>><</a><a href=/<%= @article.author %>/<%= @page.page_number %>>></a>
  </div>
</footer>

</html>
