<footer class="site-footer">
  <div id="nav">
    <a href=/<%= @article.slug %>/<%= @page.page_prev_zerod %>><</a><a href=/<%= @article.slug %>/<%= @page.page_next_zerod %>>></a>
  </div>
</footer>

</html>
