<footer class="site-footer">
  <div id="nav">
    <a href=/<%= @page.page_prev %>><</a><% if @article.has_index? %><%= @page.page_number %><% end %><a href=/<%= @page.page_next %>>></a>
  </div>
</footer>
</html>
