<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang='en'>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
    <title><%= @article.author %> | <%= strip_tags @article.title %></title>
<link rel="shortcut icon" href="http://www.iconj.com/ico/5/t/5tg8bg5469.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="<%= @article.author %>">
	<style type="text/css" media="screen, print, projection">

    a:link {
        text-decoration: none;
        color: black;
    }
    a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: red;       
        text-decoration: none;
    }
    a:active {
        color: red;
        text-decoration: none;
    }
    
    h1:hover{color:red;}

    h1 {
        margin: 0;
        font-size: 45px;
    }
    h2 {
        margin: 0;
    }
    
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -45px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 45px; 
}
.site-footer {
  background: white;
}

    #header {
        text-align: center;
        width: 100%;
        padding:10px 0px;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    }
    
    #author {
        padding: 5px 0px;
        width: 600px;
        text-align: right;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        margin-left: auto ;
        margin-right: auto ;
    }
    
    #content {
        line-height: 165%;
        width: <%= @article.body_width %>px;
        margin-left: auto ;
        margin-right: auto ;
        text-align: left;
        text-justify: inter-word;
        font-family: Geneva, Tahoma, Verdana, sans-serif;
        font-size:14.5px;
    }

    #nav {
        line-height: 100%;
        width: 100%;
        height: 30px;
        text-align:center;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size:35px;
        padding-top:5px;
    }

</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43087035-3', 'westernbeefs.com');
  ga('send', 'pageview');

</script>
<script src="http://assets.tumblr.com/assets/scripts/tumblelog.js?_v=c5e05e1e00ecc96db6ef4244fb8a30fa"></script>
<link rel="stylesheet" type="text/css" href="http://assets.tumblr.com/fonts/gibson/stylesheet.css?v=3">
<meta http-equiv="x-dns-prefetch-control" content="off"/>


<!-- TWITTER TAGS --><meta charset="utf-8"><meta name="twitter:card" content="summary" /><meta name="twitter:description" content="" /><meta name="twitter:url" content="" /><meta name="twitter:site" content="tumblr" /><meta name="twitter:app:name:iphone" content="Tumblr" /><meta name="twitter:app:name:ipad" content="Tumblr" /><meta name="twitter:app:name:googleplay" content="Tumblr" /><meta name="twitter:app:id:iphone" content="305343404" /><meta name="twitter:app:id:ipad" content="305343404" /><meta name="twitter:app:id:googleplay" content="com.tumblr" /><meta name="twitter:app:url:iphone" content="tumblr://x-callback-url/blog?blogName=westernbeefs&amp;postID=&amp;referrer=twitter-cards" /><meta name="twitter:app:url:ipad" content="tumblr://x-callback-url/blog?blogName=westernbeefs&amp;postID=&amp;referrer=twitter-cards" /><meta name="twitter:app:url:googleplay" content="tumblr://x-callback-url/blog?blogName=westernbeefs&amp;postID=&amp;referrer=twitter-cards" />

<script src="http://assets.tumblr.com/assets/scripts/tumblelog.js?_v=a4169182721d644dacd145af89115b95"></script>

<link rel="stylesheet" type="text/css" href="http://assets.tumblr.com/fonts/gibson/stylesheet.css?v=3">
<meta http-equiv="x-dns-prefetch-control" content="off"/>
</head>