<p>
	<strong>Page Number:</strong>
	<%= page.page_number %>
</p>

<p>
	<strong>Body:</strong>
	<%= page.body.html_safe %>
</p>
<p>
  <%= link_to 'Destroy Page', [page.article, page],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<p> 
	<%= link_to 'View', [page.article, page], 
				method: :show %>
</p>