<h1>Edit <% @story %></h1>

<%= form_for(@story, :url => edit_article_story_path(@article, @story)) do |form| %>
	<%= render partial: 'form', locals: {f: form} %>
<% end %>

<%= link_to 'Back', article_admin_path %>